
body{
    background-image: url('stage-design.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-image: radial-gradient(rgb);
    
}
#hi{
border: 5px solid black;
text-align: center;
font-size: 100px;
display: block;
margin: auto;
width: 50%;
color: white;
background-color:black;

}
#teja{
    border: 5px solid black;
    text-align:center;
    font-size: 100px;
    display: block;
margin: auto;
width: 60%;
    color: black;
    background-color:teal;
   
    }